{{#partial "content"}}
    <div class="container">
        <h2>ADD NEW ANIMAL</h2>

            <form action="/animals" method="post" class="col-md-6">
            <div class="form-group">
                <label for="animal_id">Animal</label>
                <input class="form-control" type="text" id="animal_id" name="animal_id" >
            </div>
                <div class=" form-group">
                    <label for="animal_name">Animal Name</label>
                    <input  class="form-control" type="text" id="animal_name" name="animal_name">
                </div>
                <div class="form-group">
                    <label for="health">Health</label>
                    <select  class="form-control" id="health" name="health">
                        <option label="Choose State of Health"></option>
                        <option value="Healthy">Healthy</option>
                        <option value="Ill">Ill</option>
                        <option value="Okay">Okay</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <select id="age" class="form-control" name="age">
                        <option label="Choose Age"></option>
                        <option value="NewBorn">New Born</option>
                        <option value="Young">Young</option>
                        <option value="Old">Old</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="endangered">Is Animal Endangered?</label>
                    <select id="endangered" class="form-control" name="endangered">
                        <option label="Is this animal endangered?"></option>
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
                <div align="center" style="padding-top: 10px; padding-bottom: 30px">
                    <button type="submit" class="btn btn-primary">ADD ANIMAL</button>
                </div>


            </form>
        </div>

{{/partial}}

{{> layout.hbs}}